@charset "UTF-8";

#reg-form{
	width: 470px;
	margin: 0 auto;
}
#reg-form ul li{
	margin-bottom: 20px;
}
#reg-form ul li{
	display: block;
}
#reg-form ul li input{
	width: 100%;
	height: 51px;
	padding: 10px;
	border: 1px solid #dadada;
}

#reg-form ul li.reg-btn input{
	height: 61px;
	background-color: #03c75a;
	border: none;
	color: #fff;
	font-size:18px;
	font-weight: 700;
}
.msg1{
	color: blue;
	display:none;
}
.msg2{
	color: red;
	display:none;
}

.join{
	margin-top : auto;
}
